/* Grid Layout */
.container {
  display: grid;
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0;
}

.text-gradient {
  background: linear-gradient(90deg, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
